/* index.html에 연결 */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gothic+A1:wght@300&display=swap');

/* Pinterest / https://www.behance.net/gallery/109770467/kos-eCommerce */
/* 공통 스타일(common) */
*{margin: 0;padding: 0; font-family: Gothic A1;}
a{text-decoration: none;}
ul{list-style: none;}
#wrap{width: 1200px; margin: 0 auto;}

/* header 메뉴 */
header{width: 100%; height: 100px;  background: rgb(210, 202, 195);}
#logo{float: left; width: 250px; line-height: 100px;}
#logo h1 a{
  padding-left: 20px; color: rgb(48, 48, 48); font-family: Bagel Fat One;
}
header nav{float: right; width: 900px; padding-top: 40px;}

/* 주메뉴 */
#topMenu{height: 60px; margin-left: 100px;}
#topMenu > li{float: left;position: relative;}
#topMenu > li > a{display: block; color: #fff; padding: 20px 40px;}
#topMenu > li a:hover{color: #000;}
/* 서브메뉴 */
#topMenu > li > ul{
  /* display: none; */
  background: rgba(192, 252, 54, 0.6);
  position:absolute; 
  width: 160px;
  /* margin: 19px; */

  /* 애니메이션 */
  overflow: hidden;

}
#topMenu > li:hover > ul{
    display: block;

    /* 애니메이션 */
    transform: translateY()
}
#topMenu > li > ul > li{padding: 8px 0 8px 36px;}
#topMenu > li > ul > li > a{font-size: 15px; color: #000;}
#topMenu > li > ul > li > a:hover{color: #f00;}
#index_main{
    height: 800px;
    border:5px solid #ccc;
    padding: 5px;
}
#index_main h1{
    margin-top: 50px;
}
#type main{
    height: 600px;
    border:5px solid #ccc;
    padding: 5px;
}
main h1{
    margin: 20px;
    text-align: center;
    color: rgb(48, 48, 48);
}
/* contents 영역 */
#contents{
    height: 600px;
    margin-top: 40px;  
  }
  #tabMenu{
    width: 600px;
    margin: 0 auto;
  }
  #tabMenu input[type="radio"]{
    display: none;
  }
  #tabMenu label{
    display: inline-block;
    padding: 15px 25px;
    color: #aaa;
  }
  #tabMenu label:hover{
    color: #222;
    cursor:pointer;
  }
  #tabMenu input:checked + label{
    color: #b00;
    border: 1px solid #ddd;
    background: #eee;
  }
  #tabMenu .tabContent{
    display: none;
    padding: 20px 0 0 0;
    border-top: 1px solid #ddd;
  }
  /* '~' : 형제 선택자 모두 선택 */
  #tab1:checked ~ #notice,
  #tab2:checked ~ #gallery{
    display: block;
  }
  
  #tabMenu .tabContent h2{
    display: none; 
  }
  #notice ul{
    margin-left: 30px;
    list-style: square;
  }
  #notice ul li{
    line-height: 3;
    font-size: 15px;
  }
  #gallery ul li{
    display: inline;
  }
  ul li img{
    width: 270px;
    height: 260px;
    border-radius: 50%;
    margin: 5px;
  }

#type section{
    float: left;
    width: 31%;  /* main 크기의 31% */
    height: 520px;
    border: 1px dotted #ccc;
    margin: 5px;
    padding: 5px;
    color: rgb(48, 48, 48);
}
#type h2{
    clear: both;
    margin: 20px 10px;
}
#type section h3{
    background: url(../images/petdot.png) no-repeat;
    background-position: 5px 20px; /* left(x좌표) top(y좌표) */
    padding: 16px 32px;
}
#type section dl dt{font-weight: bold; margin: 10px 0px;}
#type section dl dd{margin-bottom: 16px; line-height: 1.5; }

aside{
    clear: both;
    padding: 40px 20px 60px;
    background: rgb(242, 242, 242); 
    color: rgb(48, 48, 48);
}
aside img{
    float: left;
    width: 240px;
    margin: 0px 80px 10px 20px;
    border-radius: 15px;
}
aside h3{padding-left: 30px;}
aside ul li{
    margin: 10px 60px;
}
footer{
    padding: 20px 10px;
    background: rgb(194,197,190); 
}
footer p{
    color: white;
    text-align: center;
}